<div class="faq-section">
  <div class="page-width page-width--narrow">
    <header class="section-header">
      <h2 class="section-header__title">
        Faqs
      </h2>
    </header>
    {%- if product.metafields.custom.product_faqs_qa -%}
    {% assign faqs = product.metafields.custom.product_faqs_qa.value | json %}
    {%- for faq in faqs -%}
    <div class="faq-item custom--question" data-afs="{{ faq }}">
      <div>
        <button type="button"
          class="label collapsible-trigger collapsible-trigger-btn collapsible-trigger-btn--borders collapsible--auto-height"
          aria-controls="FAQ-content-{{ forloop.index }}">
          <span class="collapsible-trigger__layout">
            <span>
              <span>{{ faq.question }}</span>
            </span>
          </span>
        </button>
        <div id="FAQ-content-{{ forloop.index }}" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner rte">
            <p>{{ faq.response | escape }}</p>
          </div>
        </div>
      </div>
    </div>
    {%- endfor -%}
    {%- endif -%}
  </div>
</div>
{% schema %}
    {
        "presets": [
            {
                "name": "Product Faqs"
            }
        ]
    }
{% endschema %}